.ManyCubic__svg {
  margin: 2rem;
  max-width: 600px;
  overflow: visible;
}

.ManyCubic__presets {
  display: flex;
  gap: 0.5rem;
}

.Handle__circle {
  cursor: move;
}

.Handle__rect {
  cursor: move;
}
